@font-face {
    font-family: "Orbitron";
    src: local("Orbitron"),
     url(~assets/fonts/Orbitron-Black.ttf) format("truetype");
}

html {
    overflow-y: auto !important;
}
.v-navigation-drawer > .v-navigation-drawer__border {
    display: none;
}